<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMOTE</title>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/about.css' />
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

   
</head>
<body>
    <nav>
    <label class="logo">EMOTE</label>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/chat">Chat</a></li>
        </ul>
</nav>
    <div class="aboutus-container">
        <!-- <h3 class="about-us">ABOUT US</h3> -->
        <div class="color">
            <p class="lorem-text">Welcome to EMOTE, the innovative voicebot that can detect and respond to your emotions. We're a team of technology enthusiasts who are passionate about making life easier with the help of voicebots. Our goal is to provide a voicebot that can not only understand what you're saying but also how you're feeling and respond accordingly.

            Our team is made up of four members who have been working together for a year to make this project possible. We've combined our knowledge to create a cutting-edge chatbot service that's easy to use and understand.

            Our voicebot uses advanced NLP and emotion detection algorithms to understand what you're saying and how you are feeling.

            We believe that voicebots like Emote will play an increasingly important role in our lives in the future, and we're excited to be at the forefront of this technology.
            <br>
            If you have any questions or comments, please don't hesitate to contact us at riya.parajuli@gmail.com. Thank you for choosing EMOTE!
            </p>
            <img id="bot-image" src="/Images/front.png" alt="">
        </div>
        <div>
            <h1 class="team-members">Team Members</h1>
        </div>
        <br><br><br><br><br>
        
        <div id="card-wrapper">
            <div class="individual-card">
                <img src="/Images/aarya.jpg" alt="">
                <p>Meet Aaryashree, a creative and passionate web designer with an eye for aesthetics and a love for crafting visually stunning websites.With a strong understanding of business needs and a dedication to creating models that can be deployed in real-world scenarios, Aaryashree is a valuable asset to any team. </p>
                <h4>AARYASHREE POKHAREL</h4>
                <p class="email">aaryashree015@gmail.com</p>
            </div>
            <div class="individual-card">
                <img src="/Images/nikita.jpg" alt="">
                <p>Meet Nikita, a dedicated web developer with a passion for creating eye-catching and user-friendly websites and applications. With a keen eye for design and a strong understanding of programming languages such as HTML, CSS, and JavaScript, Nikita has the skills and knowledge to bring your online projects to life.</p>
                <h4>NIKITA POKHAREL</h4>
                <p class="email">13pokhrel@gmail.com</p>

            </div>
            <div class="individual-card">
                <img src="/Images/riya.jpg" alt="">
                <p>Meet Riya, a passionate web developer with a keen eye for detail and a love for creating intuitive, user-friendly experiences. With a background in JavaScript and its frameworks, Riya has a solid understanding of the latest web development technologies and trends.Addition to her technical skills, Riya is a team player with excellent collaboration abilities.</p><h4>RIYA PARAJULI</h4>
                <p class="email">riya.parajuli@gmail.com</p>
            </div>
            <div class="individual-card">
                <img src="/Images/shyamron.jpg" alt="">
                <p>Meet Shyamron, a data-driven individual with a passion for machine learning and natural language processing (NLP). With a background in machine learning and deep learning, Shyamron has a solid understanding of the mathematical and statistical concepts that underpin these fields. She is committed to delivering accurate and efficient solutions.</p>
                <h4>SHYAMRON DONGOL</h4>
                <p class="email">dongolshyamron@gmail.com</p>
            </div>

    </div>

</body>
</html>